.fundo {
    background-image: url("https://cdnmpn.blob.core.windows.net/suporte/ELEVE-BANNER.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
}

.eleve {
    color: white;
    margin-top: 3%;
}

.eleve-btn {
    width: 60%;
    color: #00a273;
}

.box_check {
    width: 25px%;
    height: 23px;
}